body{
    background: #373a40;
}
form{
    display: inline !important;
}
input{
    background: black !important;
    color: whitesmoke !important;
    
}
.top{
    background:#373a40 !important;
}

.video-item{
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0.3, 0, 0.2) !important;
}
.video-item.item img{
    max-width: 15em;
}